*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.2);
}
a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 80px;
    color: aliceblue;
}
a:hover{
    color: yellow;
    text-decoration: underline;
}
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}